C 0 0 "SDO/SA0" 0 0 0 0 60 0 L
X "PIN_TEXT" "SDO/SA0" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "SDX" 0 -100 0 0 60 0 L
X "PIN_TEXT" "SDX" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "SCX" 0 -200 0 0 60 0 L
X "PIN_TEXT" "SCX" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "INT1" 0 -300 0 0 60 0 L
X "PIN_TEXT" "INT1" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 600 -1000 "VDDIO" 600 -1000 0 0 60 0 L
X "PIN_TEXT" "VDDIO" 630 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 600 -800 600 -1000 -1 0
C 700 -1000 "GND_1" 700 -1000 0 0 60 0 L
X "PIN_TEXT" "GND_1" 730 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -800 700 -1000 -1 0
C 800 -1000 "GND_2" 800 -1000 0 0 60 0 L
X "PIN_TEXT" "GND_2" 830 -770 90 0.00 60 0 0 0 0 0 1 0 74
L 800 -800 800 -1000 -1 0
C 1400 -300 "VDD" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "VDD" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -200 "INT2" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "INT2" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -100 "OCS_AUX" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "OCS_AUX" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 0 "SDO_AUX" 1400 0 0 0 60 0 R
X "PIN_TEXT" "SDO_AUX" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 800 600 "CS" 800 600 0 0 60 0 R
X "PIN_TEXT" "CS" 830 370 90 0.00 60 0 0 2 0 0 1 0 74
L 800 400 800 600 -1 0
C 700 600 "SCL" 700 600 0 0 60 0 R
X "PIN_TEXT" "SCL" 730 370 90 0.00 60 0 0 2 0 0 1 0 74
L 700 400 700 600 -1 0
C 600 600 "SDA" 600 600 0 0 60 0 R
X "PIN_TEXT" "SDA" 630 370 90 0.00 60 0 0 2 0 0 1 0 74
L 600 400 600 600 -1 0
L 200 400 1200 400 -1 0
L 1200 -800 1200 400 -1 0
L 1200 -800 200 -800 -1 0
L 200 400 200 -800 -1 0
P "$LOCATION" "?" 1250 570 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

